<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Simple memcache</title>
</head>
<body>
    
    <nav class="nav">
        <ul>
            <li><a href="/uploadImage" class="nav-link" data-info="Upload Image">Upload Image</a></li>
            <li><a href="/getImage" class="nav-link" data-info="Get Image">Get Image</a></li>
            <li><a href="/allKeys" class="nav-link" data-info="All Keys">All Keys</a></li>
            <li><a href="/configration" class="nav-link" data-info="Configration">Configration</a></li>
            <li><a href="/statistics" class="nav-link" data-info="Statistics">Statistics</a></li>
        </ul>
    </nav>

    
        
            <div class="upload-box">
                <h1 class="page-title">Nice!</h1> 
                <h12 class="page-title">Success Upload</h12> 
            </div>
        
    
    

</body>
</html>